body,input{
    font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}
@media (max-width:500px){
    .u-pay-box{
        width: 335px;
        margin: 30px auto 0;
        color: #000000;
    }

    .u-pay-content{
        width: 335px;
        padding-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-bottom: 33px;
    }
    .u-top-tip{
        width: 315px;
        height: 40px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        background: #FFAB48;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        margin-bottom: 16px ;
        margin-top: 10px;
    }
    .u-count-box{
        font-size: 14px!important;
        line-height: 20px!important;
        font-weight: 500;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }
    ul.downcount li span,ul.downcount li{
        font-size: 14px!important;
        line-height: 20px!important;
        font-weight: 500;
        color: #0B5BF5;
    }

    .u-count-text{
        margin-left: 10px;
    }
    ul.downcount {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .amount{
        font-size: 26px!important;
        line-height: 30px!important;
        font-weight: 700;
        color: #111;
        cursor: pointer;
    }

    .u-click-copy{
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #999;
    }

    .qrcode,.qrcode-img{
        width: 170px;
        height: 170px;
    }
    .u-pay-info{
        width: calc(100% - 40px);
        padding-bottom: 15px;
        background: #F5F5F5;
        border-radius: 12px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .u-info-text{
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #666;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 12px;
    }
    .u-info-address{
        width: 255px;
        word-break: break-word;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #111;
        text-align: center;
        margin-bottom: 9px;
        cursor: pointer;
    }
    .u-info-copy{
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        color: #999;
        text-align: center;
    }
    .u-tips-title{
        /*width: 400px;*/
        /*height: 56px;*/
        color: #111111;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 16px;
    }
    .u-tips-tC{
        color: #0B5BF5;
        font-size: 16px;
    }
    .u-t-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #666666;
        margin-bottom: 10px;
    }
    .u-tips-content{
        width: 335px;
    }
    .u-tips-item{
        /*width: 400px; */
        word-break: break-word;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
    }
}
@media (min-width:501px){
    .u-pay-box{
        width: 400px;
        margin: 30px auto 0;
        color: #000000;
    }

    .u-pay-content{
        width: 400px;
        padding-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-bottom: 24px;
    }
    .u-top-tip{
        width: 360px;
        height: 100px;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        background: #FFAB48;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        margin-bottom: 30px ;
        margin-top: 20px;
    }
    .u-count-box{
        font-size: 14px!important;
        line-height: 20px!important;
        font-weight: 500;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }
    ul.downcount li span,ul.downcount li{
        font-size: 14px!important;
        line-height: 20px!important;
        font-weight: 500;
        color: #0B5BF5;
    }

    .u-count-text{
        margin-left: 10px;
    }
    ul.downcount {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .amount{
        font-size: 26px!important;
        line-height: 30px!important;
        font-weight: 700;
        color: #111;
        cursor: pointer;
    }

    .u-click-copy{
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        margin-bottom: 20px;
        color: #999;
    }

    .qrcode,.qrcode-img{
        width: 200px;
        height: 200px;
    }
    .u-pay-info{
        width: 360px;
        padding-bottom: 15px;
        background: #F5F5F5;
        border-radius: 12px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .u-info-text{
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        color: #666;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 12px;
    }
    .u-info-address{
        width: 300px;
        word-break: break-word;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: #111;
        text-align: center;
        margin-bottom: 9px;
        cursor: pointer;
    }
    .u-info-copy{
        font-size: 11px;
        line-height: 14px;
        font-weight: 400;
        color: #999;
        text-align: center;
    }
    .u-tips-title{
        width: 400px;
        /*height: 56px;*/
        color: #111111;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 33px;
    }
    .u-tips-tC{
        color: #0B5BF5;
        font-size: 16px;
    }
    .u-t-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        color: #666666;
        margin-bottom: 10px;
    }
    .u-tips-content{
        width: 335px;
    }
    .u-tips-item{
        width: 400px;
        word-break: break-word;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
    }
}
.remark{
    font-size: 12px;
    padding-left: 20px;
    color: #999;

}
.remark li{
    line-height: 18px;
    padding-bottom: 10px;
}
.buy-u-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 47px;
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.buy-u-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0B5BF5;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.333px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 10px;
}
.buy-u-box a img{
    width: 8px;
    height: 14px;
    margin-left: 8px;
}